[2018-03-22 15:35] IanSudbery opened #7 "Database specification in pipeline.inis"
The ability to specify the location of the database has disappeared from many of the pipeline.inis compared to with the HEAD of CGATOxford/CGATPipelines.

Take for example `pipeline_readqc`. The `CGATOxford/CGATPipelines` has a `database` entry in the general section. However the code reffers to `PARAMS["database"]["url"]`. This is not in the `pipeline.ini`, nor is it documented anywhere I can see

[2018-03-22 17:25] IanSudbery opened #8 "residual references to /ifs"
Hardcoded paths to executables in
`PipelineEnrichmentGSEA`
`pipeline_exome_cancer`
`PipelineExome`
`PipelinePeakcalling`

Defaults set to  `/ifs/` paths in `pipeline.ini` for:

[code]

[2018-03-22 17:27] IanSudbery commented on #7
No `[database]` section in:

[code]

[2018-03-26 08:35] Acribbs commented on #7
@IanSudbery I have had a look briefly at readqc and I have no idea why the database was removed, it seems @AndreasHeger removed it during the e42458 commit. Haven't looked into it in detail at the moment but maybe he can shed some light?

[2018-03-26 08:51] Acribbs commented on #8
@IanSudbery thanks, I will have a look at this today and make changes.

ifs is present in PipelinePeakcalling and PipelineEnrichmentGSEA, likely because of debugging and comments
However, for pipeline_exome_cancer and PipelineExome these are pointing to our bio/apps directory and should be parameterised. GATK is not included in our conda environment so we still rely on the module system. Again wil

[2018-03-26 12:16] Acribbs commented on #7
@IanSudbery does ``PARAMS['database']['url']`` not refer to this line https://github.com/cgat-developers/cgat-flow/blob/master/CGATPipelines/configuration/pipeline.ini#L51 in the configuration pipeline.ini?

[2018-03-26 13:16] IanSudbery commented on #7
So the `PARAMS['database']['url']` is specified in the general default ini as you point out. But its not there in any of the pipeline specific inis, and you are not given it as a section to configure when you rn config. Neither is it documented anywhere at the moment that this is the key you would use to configure the database, nor what format it has (I can never remember how many `/`s it is).

[2018-04-08 21:11] AndreasHeger opened #10 "Replace pipeline.ini files with pipeline.yml"
A basic converter has been added in script/cgat_ini2yml.py.

Next steps:
Convert all ini files in the repository
Convert all ini files in the test data sets
Remove .ini parsing from CGATCore/Pipeline/Parameters.py

[2018-04-08 21:14] AndreasHeger commented on #10
This relates to
https://github.com/cgat-developers/cgat-core/issues/18

@sebastian-luna-valero - I will add a pipeline.yml file to the test data sets, keeping the pipeline.ini in place to minimize breakage.

[2018-04-08 21:25] AndreasHeger commented on #10
TBH, I don't know. I have been using .format now because it seems to be more powerful for normal substitutions.
However, the substitution of command line parameters in P.run() still relies on '%s' and maybe we should keep that to avoid rewriting every command.

[2018-04-27 08:33] AndreasHeger commented on #10
This has been done, see #11

[2018-04-27 08:33] #10 closed

[2018-05-01 21:03] Acribbs opened #12 "pipeline testing"
@AndreasHeger @sebastian-luna-valero I know I have sent you an email , but I thought that I would document this on GitHub so we have a record here.

I have been looking at pipeline testing and I have potentially found the issue with the readqc pipeline.

The pipeline.ini file needs to be updated using the following: /ifs/projects/adam/pipeline_testing/tests/test_readqc.dir/pipeline.yml

exportdir:

[2018-05-05 09:16] Acribbs commented on #12
Solved

[2018-05-05 09:16] #12 closed

[2018-05-05 09:17] Acribbs opened #13 "bamstats studio report"
Looks like rendering the report for studio isn't working with my environment. I will work on a solution.

[2018-06-12 08:51] logust79 opened #25 "CondaValueError: invalid package specification: 404: Not Found"
I think this relates to what happened in https://github.com/cgat-developers/cgat-flow/pull/20.
This happened now three times in a row, and every time the installation takes a very long time. I think this is pretty much conda's problem, but is there a way to resume where it fails, instead of having to start from scratch every time the installer fails?

[2018-06-12 09:56] sebastian-luna-valero commented on #25
Hi Jing,

Are you installing `cgat-flow` on a Mac?

Also, would you be able to paste the full error message?

Best regards,
Sebastian

[2018-06-12 10:03] logust79 commented on #25
Hi Sebastian,
The installation was on CentOS.
The error msg:
[code]

[2018-06-12 10:50] sebastian-luna-valero commented on #25
Hi Jing,

That's strange!

Can you please share the output of `ls -l /cluster/project8/vyp/JingYu/git/cgat_f`

Best regards,
Sebastian

[2018-06-12 12:16] logust79 commented on #25
Hi Sebastian,
I seem to know what triggered this error. I used my forked repo and asked the installation script to grab code from my forked repo (not a good idea :). When I use the unmodified installation code, it installed without any problem!

[2018-06-12 12:45] sebastian-luna-valero commented on #25
Great, thanks for letting us know!

[2018-06-12 12:45] #25 closed

[2018-06-18 15:59] Acribbs opened #26 "Running mapping"
When trying to run the help for mapping I get the following error, any suggestions?

[code]

[2018-06-19 13:56] sebastian-luna-valero commented on #26
Hi Adam,

Can you please paste the output of `conda list scipy`?

Best regards,
Sebastian

[2018-06-19 17:00] Acribbs commented on #26
It seems I dont have script installed. Should I give it a go? Only one version is available, v1.1.0

[2018-06-19 18:15] Acribbs opened #27 "readqc pipeline broken"
I have encountered an error when running fastqc_screen. I see @AndreasHeger made some changes last week. Its stating that the outdir is missing from the dictionary (and it is). However, when I try to debug and specifically add outdir into the code it isn't being seen in the locals(). I have no idea why? - I will push the branch of my changes and see if you can see where I am going wrong.

I think

[2018-06-19 18:17] Acribbs commented on #27
Branch is AC-fastq_screen

[2018-06-19 19:51] Acribbs commented on #26
Installation of scipy worked. Thanks for your help @sebastian-luna-valero

[2018-06-19 19:51] #26 closed

[2018-06-19 21:19] Acribbs commented on #27
Have fixed issue with #28 . However, I think testing may need some thought because I dont think the fastq_screen is currently tested.

[2018-06-19 21:19] #27 closed

[2018-07-04 08:29] Acribbs commented on #7
Since we have moved towards supporting yml files I think this should be closed. Please re-open if im wrong.

[2018-07-04 08:29] #7 closed

[2018-07-08 22:55] logust79 opened #33 "PipelinePreprocess MasterProcessor adds extra ';' to bash script"
When I ran pipeline_readqc with multiple processors, such as `'trimgalore,trimmomatic'`, the final bash script has an extra `;` between the two processors, such as the following
[code]

The culprit is here https://github.com/cgat-developers/cgat-flow/blob/master/CGATPipelines/PipelinePreprocess.py#L287
Since every subcommand already comes with `;`, there is no need to join the list with `;`. Chang

[2018-07-09 15:20] IanSudbery opened #34 "Database name"
Pipelines `mapping`, `bamstats` and `genesets` still have setting

[code]

when the code is now looking for `database_url` and this should be a URL rather than a path.

[2018-07-11 15:35] #33 closed

[2018-07-11 15:37] sebastian-luna-valero commented on #33
Thanks @logust79

[2018-07-12 11:06] sebastian-luna-valero commented on #34
Hi Ian,

It looks like [Database.py](https://github.com/cgat-developers/cgat-core/blob/master/CGATCore/Database.py#L112) works with both for forward compatibility. It uses `sqlite3` for `path` and `sqlalchemy` for `url`.

Most of the code in `cgat-flow` connect with `sqlite3` directly:
[code]

Just found a couple that uses `Database.py` in `cgat-core`:
[code]

I think we should encourage new pipel

[2018-07-12 12:08] annajbott opened #36 "Install error"
An error occurred in:

- line number: 375
- exit status: 1
- command: python scripts/conda.py

The script will abort now. User input was:

install-CGAT-tools.sh --devel --git --ide --no-cluster --location /home/osboxes/Documents/cgat-developers

Please copy and past this error and report it via Git Hub:
....

[2018-07-12 12:15] IanSudbery commented on #34
The most common use of the database is `CGATCore.Pipeline.Database.load`, which uses `database_url`.

[2018-07-12 14:31] annajbott commented on #36
![screenshot from 2018-07-12 15-29-36](https://user-images.githubusercontent.com/36845663/42639664-79f1e63c-85e8-11e8-8401-8a6fa416b66f.png)
Unfortunately unable to copy text from the terminal, so here is a screenshot. I ran this command to install: install-CGAT-tools.sh --devel --git --ide --no-cluster --location /home/osboxes/Documents/cgat-developers.
Thanks

[2018-07-12 14:33] Acribbs commented on #36
Hi Sebastian,

The environment installed successfully and works on her VM machine. I haven't had a chance to look at the specific error though.

[2018-07-12 15:02] sebastian-luna-valero commented on #34
I was expecting the changes in https://github.com/cgat-developers/cgat-flow/pull/37 to fail Jenkins tests but it does not. I am confused. Are these changes the solution?

[2018-07-12 15:29] IanSudbery commented on #34
I think so? The problem is that at the moment there are hard coded defaults for these parameters of `database_name=./csvdb` and `database_url=sqlite:///./csvdb`, so the problem only manifests if you need to use some value other than these.

[2018-07-18 13:21] logust79 opened #39 "Implement an option to restart jobs terminated by SIGUSR2"
Sometimes some jobs are randomly terminated by SIGUSR2. Do you think it would be a good idea to introduce an option to restart the terminated job?

[2018-07-18 14:46] IanSudbery opened #40 "Missing graphviz dependency"
Graphviz is no longer installed as part of the conda envs, and it is needed for ruffus to plot the pipeline, which, in turn is part of report building, even in reports where there is no longer a CGATReport.

[2018-07-18 14:54] sebastian-luna-valero commented on #40
Hi,

`graphviz` is added with `cgat-apps` here:
https://github.com/cgat-developers/cgat-apps/blob/master/conda/environments/apps-extra.yml#L13

It should be installed with the `cgat-flow` installer in this statement:
https://github.com/cgat-developers/cgat-flow/blob/master/install-CGAT-tools.sh#L418

I recently installed the code and I do have `graphviz` with it.

Can you please paste:
[code]

Bes

[2018-07-18 15:04] sebastian-luna-valero commented on #39
Hi,

The fact that your jobs are getting a signal means that there is a different underlying issue and you might want to investigate that further.

Which batch scheduler are you using?

In SGE, there is the `-notify` option has been introduced in [cgat-core](https://github.com/cgat-developers/cgat-core/blob/master/CGATCore/Pipeline/Cluster.py#L60). That was not the case in the `CGATOxford` reposit

[2018-07-18 15:08] IanSudbery commented on #40
I just installed it manually, so its going to be there now. I guess found it wasn't installed in my env and so checked the `*-devel.yml`'s  and didn't see it there, especially when I saw this int he log:

[code]

[2018-07-18 15:08] #40 closed

[2018-07-18 17:44] IanSudbery opened #42 "CGATReport parameterization for cgat-flow pipelines"
The readqc pipeline reads gets the PARAMS dictionary from CGATReport.Utils. This dictionary should have been filled in conf.py, but seems to be empty in `pipeline_docs/pipeline_readqc/tracks/ReadqcReport.py`.

For example, create a readqc pipeline with the following:

[code]

Edit the resulting `pipeline.yml` so that it contains the following line:
[code]

Now add the following code to `cgat-flow/

[2018-07-19 10:51] #36 closed

[2018-07-19 15:21] #34 closed

[2018-07-19 15:21] sebastian-luna-valero commented on #34
Please re-open if you find an example to reproduce the issue.

[2018-07-20 09:13] sebastian-luna-valero commented on #42
ping @AndreasHeger

[2018-07-20 13:31] AndreasHeger commented on #42
Hi both, CGATReport status at the moment is uncertain.
The reports need updating and maintaining which I can't do as I currently don't have the bandwidth.
My main objective is thus at the moment to ignore visualization but instead to clear up the pipelines to provide a set of few and simple tables to facilitate plotting in notebooks, Rmarkdown, etc.

[2018-07-20 13:31] AndreasHeger commented on #42
(CGATReport itself is still well and alive as I use it for other projects)

[2018-07-20 13:36] IanSudbery commented on #42
Whats the way forward here then? Should we not try to fix bugs in the cgat-flow reports. Should they be removed?

[2018-07-20 13:54] AndreasHeger commented on #42
I guess the action depends on what we want to do long-term.
We need to make a decision if the reports are useful and we want to keep them. If we keep them, we need to come up with a way to maintain them.

[2018-07-30 12:33] Charlie-George opened #44 "display of options doesn't work if correct bamfiles are not present"
Because of the reliance on the design.tsv and subsequent file checking if the correct bam files are not in the working directory when `cgatflow peakcalling config` or `cgatflow peakcalling --help` are called you get an error saying that the bam files are missing and you can't see any sensible options or help regarding the pipeline.

Need to modify so that help options and config can be run without

[2018-08-02 12:32] Charlie-George opened #46 "documentation does not refer to use of yml files"
the current documentation does not seem to reflect the use of yml files instead on pipeline.ini or calling the pipeline using

[2018-08-02 12:32] Charlie-George opened #47 "Segmentation fault error with cluster"
Pipeline fails with segmentarion fault error relating to function that has @cluster_runnable() decorator

[2018-08-02 12:35] Charlie-George commented on #47
In call to function specify job_memory options

e.g.
`checkBams(bamout, filters, qual, pe, T, contigs_to_remove, submit=True, job_memory='12G')`

[2018-08-02 14:46] Acribbs commented on #46
Depending on the outcome of the meeting tomorrow I plan on updating the documentation of both cgat-flow and cgat-core to reflect the changes that have occurred and these changes. Also, I will update the tutorials as they are now massively out of date.

[2018-08-21 13:01] sebastian-luna-valero commented on #44
Hi,

When I try to reproduce the problem, I get `WARNING:root:design.tsv is not located within the folder` but both `config` and `--help` works for me.

Can you please confirm which version of the code are you running? (e.g. using `git log --oneline | head`)

Best regards,
Sebastian

[2018-08-22 16:28] sebastian-luna-valero commented on #44
That's great, many thanks!

[2018-08-23 07:50] Acribbs commented on #46
@Charlie-George did you manage to make changes to the documentation for cgat-core? I remember you said you would update it. The webhook for  readthedocs still isnt functioning so I will any changes will not update the actual online documentation

[2018-08-23 08:10] Charlie-George commented on #46
Hey, no not yet - its still on the todo - haven’t had a chance to go through it comprehensively

comprehensivewlyOn 23 Aug 2018, at 08:50, Adam Cribbs <notifications@github.com<mailto:notifications@github.com>> wrote:

@Charlie-George<https://github.com/Charlie-George> did you manage to make changes to the documentation for cgat-core? I remember you said you would update it. The webhook for readth

[2018-08-23 08:12] Acribbs commented on #46
ok cool, just let me know when you manage to get round to it. Im trying to get the webhook to work but its trying my patience

[2018-08-29 16:19] TomSmithCGAT opened #50 "No transcript_info table with pipeline_genesets"
ORIGINALLY POSTED @ CGATOxford/CGATPipelines:

pipeline_annotations used to make a table called `transcript_info` https://github.com/CGATOxford/CGATPipelines/blob/94b975256fa5142f15e82511f4b62a6c19ae38b9/obsolete/pipeline_annotations.py#L1049-L1054 which is used in multiple pipeline, for example in a tracker for `rnaseqdiffexpression` https://github.com/CGATOxford/CGATPipelines/blob/94b975256fa514

[2018-08-29 16:28] Acribbs commented on #50
There was a discussion as to whether pipeline GO should be kept or not. I think it was to be removed because katys pipeline enrichment covered all of it. However, I haven't managed to get round to it yet.

[2018-08-30 08:13] TomSmithCGAT commented on #50
OK. In that case, it appears the `transcript_info` table should not be created by `pipeline_genesets.py` if the idea is to only provide the minimum set of inputs required for the `cgatflow` pipelines.

Seen as the `loadEnsemblTranscriptInformation` function is still in `PipelineGeneset`, I'll just use this function to create the table in my pipeline.

[2018-08-30 08:13] #50 closed

[2018-08-31 10:09] AndreasHeger opened #51 "separate pipelines from tasks"

[2018-08-31 10:09] AndreasHeger opened #52 "Remove instances where ';' is used to join statements"
as opposed to '&&'

[2018-09-07 11:42] jscaber opened #53 "Picard Memory"
Picard memory is currently hardcoded into the PipelineBamstats.py module.
Because it is in the module it's not possible to parameterise this. I think we should go back to this.
I had my picard fail due to mem errors and had to go back to the code, create a branch etc. A lot of work and not something we should expect the occasional user to do if they have larger files.

In my opinion it should defi

[2018-09-07 11:55] jscaber commented on #53
Also while we're on this do we want to use (or parametrise) the use of JDK-DEFLATER and INFLATER, as described here?

https://cgatwiki.imm.ox.ac.uk/xwiki/bin/view/IT/System%20Administration/Troubleshooting%20picard%20MarkDuplicates/

[2018-09-09 08:29] Acribbs commented on #53
Yes I agree with you that picard should be added to pipeline.yml. Just paid the options to the module and it should be ok.

@sebastian-luna-valero would be the best to respond to the second comment as I have had no issues running the picard tools.

[2018-09-10 15:11] Acribbs opened #56 "single cell qc"
Hi @AndreasHeger

I was going to start using the scrnaseq pipeline but I haven't used it in a while. Does the pipeline_scrnaseq still require the mapping database? I see it is references here:
https://github.com/cgat-developers/cgat-flow/blob/master/cgatpipelines/tools/pipeline_scrnaseqqc.py#L530-L534

but I can't seen to see where it is used?

[2018-09-10 15:22] jscaber commented on #56
Hi Adam,

It requires both fastq and bam files to be placed ideally in the main directory.
It requires bam files for the featurecounts workflow, amonst others.

Best wishes,
Jakub

From: Adam Cribbs <notifications@github.com>
Reply-To: cgat-developers/cgat-flow <reply@reply.github.com>
Date: Monday, 10 September 2018 at 16:12
To: cgat-developers/cgat-flow <cgat-flow@noreply.github.com>
Cc: Subscri

[2018-09-10 15:24] jscaber commented on #56
Oops sorry – my attention span is reduced due to being on call all weekend.
Not sure about the database.
J

From: Adam Cribbs <notifications@github.com>
Reply-To: cgat-developers/cgat-flow <reply@reply.github.com>
Date: Monday, 10 September 2018 at 16:12
To: cgat-developers/cgat-flow <cgat-flow@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [cgat-developers/cgat-flow]

[2018-09-10 15:27] jscaber commented on #56
That said, I may know the answer. I think this is a small naming bug.

There is no mapping_database_url in the pipeline.yml, but there is a mapping_db
I think it should be either or: The mapping database is used in the functions getContextStats, getAlignmentStats etc…

Best wishes,
Jakub

From: Adam Cribbs <notifications@github.com>
Reply-To: cgat-developers/cgat-flow <reply@reply.github.com>
Date

[2018-09-10 15:36] Acribbs commented on #56
Hi Jakub,

Thanks for the replies. Ah yeh your right, mapping_database_url is the call to the functions and mapping_db doesn't seem to be called anywhere apart from being set to MAPPINGDB global vairable. However, I am just wondering if this needs to be the bamstats pipeline because all of the QC was removed from the mapping. Anyway, I'm going to try and run it tomorrow, I'm sure I will come into

[2018-09-10 15:37] Acribbs commented on #56
Ah actually, looking at in more detail, its going to be both mapping and bamstats.

[2018-09-12 09:59] jscaber opened #57 "Command sent to cluster only partially executed [rnaseqqc]"
@AndreasHeger

Hi Andreas,

This but was discovered in rnaseqqc but may have wider implications.
When presented with two fastq files, the function subsetSequenceData generates only one subset:
File1.fastq.1.gz
File1.subset
etc.

The command that is sent to the cluster is correct.
It can be executed on the command line, where it runs fine.
We have tested this extensively with Sebastian on both mine

[2018-09-12 10:01] jscaber commented on #57
PS: When reverting back to the CGATOxford code, the task runs fine.

[2018-09-13 19:17] AndreasHeger commented on #57
Thanks, I will check.

[2018-09-14 08:34] AndreasHeger commented on #57
Hi Jakub, when I look in the test pipelines, both files are created:
[code]
which directory/project are you working in?

[2018-09-14 08:35] AndreasHeger commented on #57
Never mind, I see it in the logs. Let me try.

[2018-09-14 08:39] AndreasHeger commented on #57
I can reproduce it, thanks!

[2018-09-14 08:42] AndreasHeger commented on #57
The reason is likely the interrupted pipe to gzip. This causes the whole statement to fail. It passes in the tests, because the number of reads is below the subsetting threshold.

[2018-09-14 08:44] AndreasHeger commented on #57
... though an error code is not generated.

[2018-09-14 08:46] AndreasHeger commented on #57
and ignore_pipe_errors was set to True.

[2018-09-14 11:58] AndreasHeger commented on #57
... actually, it traces to a type in pipeline_rnaseqqc.py:
[code]

[2018-09-14 12:00] #57 closed

[2018-09-18 13:30] jscaber opened #58 "Strandedness is the wrong way around in bamstats"
Dear All,

Pipeline rnaseqqc produces the correct strand output ISF/ISR - this is the output from salmon auto I believe.

Pipeline bamstats gets it wrong: The strand metrics come from PicardRNASeqMetrics, which expects the strandedness to be provided. This fails, because of the confiusion between firststrand and secondstrand introduced by the tuxedo suite (they were the first to introduce firststr

[2018-09-18 13:32] Acribbs commented on #58
Ah thanks Jakub!

[2018-09-18 14:00] jscaber commented on #56
As you can see I have pushed a fix for this.
Please note that I have left the calling of mapping params _implicit_. There is a lot of implicit calling of params in that pipeline, and it would have to be rewritten significantly if we were to change that.

What do you think @AndreasHeger ?

Jakub

[2018-09-21 09:30] #56 closed

[2018-09-21 09:30] #53 closed

[2018-09-21 09:49] jscaber opened #60 "Duplication of code between bamstats.py and mappingqc.py"
When fixing bamstats.py I noticed almost 100% code overlap between bamstats which is used by bamstats.py and mappingqc.py which is used by pipeline windows, intervals peakcalling etc.
Should probably be merged.
Best wishes, Jakub

[2018-09-21 10:00] Acribbs commented on #60
I completely forgot abut this, I think the plan was to modify the code so windows and intervals point to bamstats and  remove mappingqc

[2018-09-21 10:28] AndreasHeger commented on #58
Thanks, yes, please open a new issue on cgat-apps and reference this one.

[2018-09-21 10:39] #58 closed

[2018-09-24 12:34] jscaber opened #62 "Quasimapper Merging Bug - ATTENTION"
Dear all,

If anyone is using the rnaseqdiffexpression pipeline for generating salmon counts that can be imported using tximport: There is a huge merge bug.

To force the class of SalmonQuantifier into the mapper class, the mapper would take the list of fastqfiles to be merged and only take the first file, silently discarding the rest. It will then appear to make a merged abundance.h5 and quant.sf

[2018-09-24 12:36] jscaber commented on #62
This obviously does not affect featurecounts counts, as these are done on the premerged bam files.

[2018-09-24 13:56] jscaber commented on #62
There were two elements to this bug.
First one was probably in rnaseq.py: sending tuple of where a single element would be expected (this meant the preprocessing did not cycle through the options).
Second one was in pipeline_rnaseqdiffexpression.py: sending only a first element of the list so it doesn't break the pipeline (and silently discarding lanes, replicates).

[2018-09-24 14:17] jscaber commented on #62
This affected Salmon, Sailfish and Kallisto

[2018-09-24 15:07] Acribbs commented on #62
Good spot @jscaber. Have you ran pipeline testing yet and do all pipelines pass?

[2018-09-24 15:08] Acribbs commented on #62
Looking at the testing code, I would have thought that pipeline rnaseqdiffexpression would need testing to be updated?

[2018-09-24 15:19] jscaber commented on #62
Testing is on my todo list.
The testing pipeline will have to be updated.

As I have removed a tuple that is normally traversed by a "for x in y" statement, I assume I will have to do something like
`if outfile not list:
    outfile = (outfile,)
`
to get the code to work for samples where no merging is needed.

[2018-09-28 15:02] #62 closed

[2018-10-04 10:34] kevinrue commented on #47
hi @Charlie-George

If I understand correctly your last comment, the solution is to give `checkBams` more memory, is that correct?
Is there a plan for a long-term solution to the issue? I am using the up-tp-date `master` branch and there doesn't seem to be a fix in it yet.

For the record, I ran into the issue on the Kennedy Institute cluster whereby `checkBam` seems to fail 'invisibly'. What happ

[2018-10-04 10:51] Charlie-George commented on #47
Hi @kevinrue, your totally right it should deffinetly be job_memory option in the filterBams section of the YAML rather then hard-coded in the pipeline - I just haven't had time to implement it properly, apologies.

The errors only seem to occur for my largest samples and like you say work perfectly well for smaller bams so everything points to a memory error - its probably not the most efficient

[2018-10-04 11:35] kevinrue commented on #47
Thanks for the reply!

Just to follow up on my story, `job_memory=20G` was still not enough to process one of my BAM files that is 3.7G on disk. I'm bumping up to 50G of job_memory.

I think at the moment my biggest concern is that the large filtering `statement` upstream of `checkBams` in `filterBams` is already generating one of the exact output filenames of the tasks `filterInputBAMs` and `filt

[2018-10-04 13:45] kevinrue commented on #47
Again, just to follow up on my story, and give a sense of how much memory is needed:
`job_memory=50G` got me further, the following files appeared following some of the checks:
[code]
But the "intermediate final" file still failed to be generated by `checkBams` for that last input sample (3.7G input BAM file on disk).

[2018-10-04 17:06] kevinrue commented on #47
Latest chapter of the story for today:
I still get the same error if I give `100G` of job_memory.
I took the statement below from the `pipeline.log`, ran it interactively at the shell (on the login node of our cluster), and got the same `Segmentation fault (core dumped)` as you initially reported:
[code]
At this point I don't really know how to get around the problem :/

[2018-10-04 17:56] Acribbs commented on #47
Hmm that seems frustrating, is this only happening to this bamfile and does it still happen if you subsample the bamfile?

[2018-10-04 19:43] kevinrue commented on #47
Hi @Acribbs

At the moment, it's the only of 4 bamfiles that causes the issue, the other 3 have completed. Here is some file information from `ls -lh`:
[code]
Only the 3.7G file (input_2) fails in my case.

Regarding downsampling, as mentioned above, I've locally made a (extremely) small example run using two BAM files subsetted to 100 paired-end mapped reads each, and that one worked perfectly (i

[2018-10-05 08:55] kevinrue commented on #47
Hi @Charlie-George

Yes I'm using the `cgat-f` environment. Up-to-date, as the last commit in my `git log` is:

[code]

For the record here are the number of records in the two input files (only "input2" fails with segfault)
[code]

I might try to downsample "input2" to ~100 million records to see if that solves it. (In the meantime, I've been pushing other samples through the pipeline)

[2018-10-08 09:37] kevinrue commented on #47
Good news: the job got through when `job_memory="400G"`.
Sounds a bit overkill for a `3.7G` BAM file, but at least we know that it's somehow related to job memory. Although I should point out that on our cluster (in the Kennedy), we have compute nodes with different amounts of memory available . Pushing it above `256G` got me on a different node from all my previous attempts.

[2018-10-08 09:37] #47 closed

[2018-10-08 09:45] Charlie-George commented on #47
@kevinrue  - Yikes! Glad it got through - I'm going to rewrite the function this week and hopefully that will sort it out - I'll let you know when its done - sorry for the hassle - something has definitely changed and I'm not sure what yet as the pipeline used to be fine with much bigger bams

[2018-10-09 11:22] kevinrue opened #68 "pipeline_readqc.py fails for `ValueError: table is empty` with FastQC tables"
Hi,

The following statement fails:
[code]

As an attempt to debug, I’ve just done the whole:
[code]

Same error.

For the record:
[code]

So one should be able to replicate the issue by creating a dummy file that only contains the header above, and run (in the cgat-f conda environment):
[code]

Best,
kevin

[2018-10-09 15:30] Acribbs commented on #68
I can recreate the issue and it indeed relates to an empty file, I have added a check for empty files. here is the branch: https://github.com/cgat-developers/cgat-flow/tree/AC-fix-table-load. Can you check to see if you have any issues. I think the touch may have to be replaced with a sqlite command to create an empty table but I will do this once you have checked that the issue is fixed

[2018-10-09 15:47] kevinrue commented on #68
Thanks @Acribbs
In short: it seems to work.
In long: `loadFastQC` completes, although as your pointed out, no table is generated, which may cause an issue downstream. I'll run the rest of the pipeline and report back here.

Again, as you said, it probably just needs an sqlite statement that makes a table with the right header but no record.

Cheers!

[2018-10-09 15:50] Acribbs commented on #68
no worries @kevinrue, I will add the sqlite command then if it passing and then push.

[2018-10-09 15:52] Acribbs commented on #68
@kevinrue creating empty tables in sqlite isn't supported, do you have a suggestion as to what I can add as a filler?

[2018-10-09 15:59] kevinrue commented on #68
Thinking out loud, here is a sample record from a data set that has a non empty table:
[code]
Can we make up a dummy record that has `NA`s everywhere? If variable typing is any important, we can put "na" and 0 in the right places, e.g.

[code]
?

Not useful: From a brief look at the FastQC HTML report, when there are no OR sequences, they replace the table by the statement "No overrepresented sequ

[2018-10-09 16:36] Acribbs commented on #68
Hi @kevinrue can you have a look at the change I made, im a little worries that we might get database locks because of the ruffus sending two statements at the same time. if you see this issue then maybe we may have to have think about how to overcome this

[2018-10-09 18:50] kevinrue commented on #68
Yep. Sorry for the delay: I just tried and it works: the table appears in `csvdb` and the dummy row is there too.
No issue about database lock as far as I can see.

Thanks!

[2018-10-09 18:52] Acribbs commented on #68
ok cool, thanks. If you experience a database lock going forward let me know and I will add a random pause to the statement

[2018-10-09 18:56] Acribbs commented on #51
It looks like this is now complete, thanks

[2018-10-09 18:56] #51 closed

[2018-10-17 16:51] IanSudbery commented on #13
the reports in bamstats are hardcoded to use "./csvdb" as the database location. We never use this location for our databases because the file system in our high performance storage is not compatible with SQLite databases.

Please replace with database location taken from the config.

[2018-10-19 09:29] IanSudbery opened #74 "Pipelines not detecting termination of jobs"
I've had several occurrences recently where pipelines will ned detect when a job has finished. That is the cluster will have no jobs running, but the pipeline will still be running and not showing an error or submitting more jobs.  Interestingly in this case the log never shows "Waiting for N jobs to finish".

[code]

The `STDIN` job here is the pipeline itself.

Interestingly, looking at the code

[2018-10-19 14:53] AndreasHeger commented on #74
Thanks, tricky to debug. As I understand there should not be any threads.
I think the most likely culprit is here:
[code]
It might be that the job has ended with a different JobState and is thus never removed from the list of running jobs. I will add more log messages and look at the job states.
If you are online, could you check the job state of:
[code]

[2018-10-19 14:54] AndreasHeger commented on #74
For example, it might be wise to add : JobState.UNDETERMINED.

[2018-10-19 14:59] AndreasHeger commented on #74
hmm, although that would not explain why the log message "waiting for {} jobs" never appears.

[2018-10-19 15:02] IanSudbery commented on #74
exactly.

I think this might be connect to jobs that have @jobs_limit

[2018-10-19 15:03] AndreasHeger commented on #74
Thanks, good idea.

[2018-10-22 08:22] IanSudbery opened #75 "Regex for paired sequencing in pipeline_readqc"
For paired reads in pipeline_readQC, the input regex is:

[code]

[2018-10-23 14:14] IanSudbery opened #76 "`bam2bam` usage in pipeline_bamstats"
`pipeline_bamstats` uses `bam2bam` in order add back peduoquality/seqeuence to a bam file.

if does with the following command:

[code]

I.e. output is sent to stdout, but the log is not redirected. `bam2bam` doesn't like this, even though `-v0` is set, which should probably be okay (see cgat-developers/cgat-apps#30), but it isn't currently..

[2018-10-26 16:02] AndreasHeger commented on #74
This has been fixed in https://github.com/cgat-developers/ruffus/issues/99
and will go away once a new ruffus is released and installed.

[2018-10-26 16:02] #74 closed

[2018-10-26 16:07] IanSudbery commented on #74
Thanks Andreas.

[2018-10-31 10:59] jscaber commented on #68
Unfortunately the empty table command implemented in #70  does not seem to overwrite the table creating a "table already exists" if the pipeline is rerun.

[2018-11-05 17:27] IanSudbery opened #78 "Memory in peakcalling checkBams"
The function `checkBams` called by `cgatpipelines.tasks.filterBams` is seg-faulting or giving MemoryError. One solution is obviously to increase the amount of RAM. This seems like it will be a recurring problem though as files get bigger.

The problem appears to be that checkBams is building a dictionary of all the reads.  Since the in memory structure will be decompressed BAM, it cannot take less

[2018-11-06 16:54] jscaber commented on #68
Fixed.

[2018-11-06 16:54] #68 closed

[2018-11-08 10:58] IanSudbery opened #79 "STAR read from named pipe"
Currently STAR reads from a named pipe when using single end data (with the `<(zcat %(infiles)s)` syntax).

This is no good if STAR is run in 2pass mode as it need to read the file twice.

[2018-12-12 15:22] stewalsh04 opened #81 "Problem with installation enviroment and importing BamTools module - missing compiler?"
We  tried installing the code from cgat-developers using the install-devel.sh

We did this I tried to go into the cgat-flow folder and switch to a remote branch, however the downloaded cgat code repositories core, apps, flow did not seem to be linked to git

`(cgat-proj078) [stevenw@cgat050 4_peakcalling]$ git status
fatal: not a git repository (or any parent up to mount point /ifs)
Stopping at fi

[2018-12-14 14:04] Charlie-George commented on #81
Attached is my current cgat-flow env - there are a few extra's that I've added (mainly  atac-seq related so feel free to take them out if needs be)

[full_cgat_env_dec18.txt](https://github.com/cgat-developers/cgat-flow/files/2680316/full_cgat_env_dec18.txt)

[2018-12-14 15:19] Acribbs commented on #76
#82 should fix this

[2018-12-14 15:19] #76 closed

[2018-12-16 18:45] Acribbs commented on #52
see #84

[2018-12-16 18:45] #52 closed

[2018-12-17 10:34] Acribbs commented on #39
closed but please reopen if required.

[2018-12-17 10:34] #39 closed

[2018-12-17 10:44] Acribbs commented on #78
So you suggest that we remove checkBams?

I actually quite like the functionality of this code though because it generates an output table showing where the majority of your reads are filtered.

Since peakcalling is your baby, what's your opinion @Charlie-George?

[2018-12-17 10:55] IanSudbery commented on #78
I personally think that any algo that is trying to hold a whole BAM file in memory is a non-starter. I agree that its useful to know at what stages reads are being filtered, but there needs to be a better way than this.

[2018-12-17 11:13] Acribbs commented on #78
Ah I see your point, it seems like this is the offending line https://github.com/cgat-developers/cgat-flow/blob/06f35b7b14dbaa1f6c41a791006143cd16fb14e5/cgatpipelines/tasks/peakcalling.py#L577.

How about a workaround:

[code]

Then the iterator works on the object and not over the whole file, is this correct? Please tell me if im talking crap.

[2018-12-17 11:18] IanSudbery commented on #78
The offending lines are these:

https://github.com/cgat-developers/cgat-flow/blob/06f35b7b14dbaa1f6c41a791006143cd16fb14e5/cgatpipelines/tasks/peakcalling.py#L607-L609

[2018-12-17 14:10] IanSudbery commented on #78
Thought I'd do a quick check to see quite how memory consuming it was. _ tried to load a 2GB bam file (about 15 million reads) the same way on my desktop. This has now consumed over 20GB of RAM, and is still going (very, very slowly, as the machine is now thashing the disk).

So if we are talking more than 10x the size of the BAM file, and say a simple ChIP-seq expresiment has 9 samples, you'd nee

[2019-01-03 09:22] IanSudbery opened #85 "Mapping rate no longer reported by any pipeline"
Since the mapping pipeline was split into mapping and bamstats, as far as I can tell no pipeline now reports very basic statistics about mapped files, such as % mapping rate , % spliced reads etc.

By preference I think that the mapping pipeline should report this for two reasons:
* I can't imagine anyone ever mapping a set of reads and not wanting to see the mapping rate
* The best way to obtain

[2019-01-08 19:03] amayer21 opened #86 "error message during installation of CGAT-core"
Hello,

I'm trying to install CGAT-core at my new place and got the following error message (I've included a few lines before the error message):

[code]

I had a look to the scripts involved in the error (conda.py) and it says:
[code]
I didn't have any conda environment active before to start the installation... Not sure what to do...

PS: I've also noticed a warning message earlier in the instal

[2019-01-08 19:36] Acribbs commented on #86
Hi,

Unfortunately the installation script is broken at the moment. For the minute I would use the txt file that charlie provided here: https://github.com/cgat-developers/cgat-flow/issues/81#issuecomment-447334834

Then run:

`conda create --name <env> --file <file>`

[2019-01-08 19:38] Acribbs commented on #86
Happy new year, hope your enjoying your new job!

[2019-01-09 16:08] amayer21 commented on #86
Thanks Adam!

I realised I did a mistake by posting this issue in the cgat-flow repository while I was trying to install cgat-core. Not sure if there is a way to move this issue afterwards? I guess Charlie's txt file will install the CGAT-flow environment (ie a lot more than what's in cgat-core environment)? Not sure the problem

When looking at the std out and the script, I had the impression the

[2019-01-09 16:59] Acribbs commented on #86
Ah ok, installing cgatcore is now very easy using conda.

`conda install -c bioconda cgatcore`

Then you should be able to import cgatcore into your pipeline using

[code]

Im currently working on the cgat showcase as we speak so please feel free to raise and issue on the showcase.

BW,
Adam

[2019-01-09 17:00] Acribbs commented on #86
Please reopen if you feel

[2019-01-09 17:00] #86 closed

[2019-01-17 11:48] nickilott opened #87 "pipeline_readqc error in pandas concat"
Hi,

In the summarizeFastQC taks in pipeline_readqc I am coming across the following error:

    Traceback (most recent call last):
      File "/gfs/devel/nilott/cgat-developers-v0/conda-install/envs/cgat-f/lib/python3.6/site-packages/ruffus/task.py", line 712, in run_pooled_job_without_exceptions
        register_cleanup, touch_files_only)
      File "/gfs/devel/nilott/cgat-developers-v0/conda-in

[2019-01-17 12:46] Acribbs commented on #87
Hmm, I don't think I have seen this error before, whats your head output of your fasta_data.txt?

Which fastqc and pandas are you using?

[2019-01-17 13:09] nickilott commented on #87
Fastqc v0.11.7
pandas 0.22.0

[2019-01-17 13:11] nickilott commented on #87
[code]
##FastQC	0.11.7

#Measure	Value
Filename	Biopsy-Caecum-HEALTHY-R0.fastq.1.gz
File type	Conventional base calls
Encoding	Sanger / Illumina 1.9
Total Sequences	29656
Sequences flagged as poor quality	0
Sequence length	300
%GC	51

[2019-01-17 13:15] Acribbs commented on #87
I see your Basic Statistics doesn't read >> Basic Statistics pass

Do you see >> END MODULE after the %GC 51 line?

[2019-01-17 13:16] Acribbs commented on #87
I will test on my end as I now have the same versions of pandas and fastqc as you

[2019-01-17 13:42] nickilott commented on #87
yes >> END module is there

[2019-01-17 13:49] nickilott commented on #87
Thanks for the help

[2019-01-17 13:52] Acribbs commented on #87
Im all out, I have just tested it on my end with the same pandas and fastqc versions and it generates the output of the summarizeFastQC correctly.

I have looked at the code that summarizeFastQC calls and I can't see anything obvious that could be the error in the pd.concat function. Your files don't start with a number do they?

[2019-01-17 13:55] nickilott commented on #87
Thanks for your help - no files don't start with a number...it's not an obvious problem and its strange because the fastqc_data.txt output is not of the same format as previous runs with a different data set but the same version of fastqc...I will try re-running and see what happens.

[2019-01-17 14:55] nickilott commented on #87
Hi Adam,

It does look like it's something to do with the filenames...not quite sure what the issue is but not to do with the code.

[2019-01-17 14:55] #87 closed

[2019-01-17 14:57] Acribbs commented on #87
ok great, if you manage to work it id love to know what it was. Good luck

[2019-02-04 18:36] Acribbs opened #88 "Travis tests failing"
@AndreasHeger it seems the tests are failing due to a kill issue

[code]

I assume this is because the conda installation is taking a lot longer than previously?

[2019-02-20 19:44] sebastian-luna-valero commented on #88
Conda's dependency resolution algorithm gets stuck at this step:
[code]
Normally this happens when you have a large number of dependencies (like we still do) without pinning their versions. The number of combinations of different versions of the packages to satisfy the list of dependencies is so high that the solver does not know what to do. You can see that in action by appending `-vv` to the con

[2019-02-20 20:03] sebastian-luna-valero commented on #88
I have managed to make some progress by updating `env-cgat-apps.yml` like:
[code]
Is the code now ready to work with `scipy >= 1.0`? We had issues in the past.

On the other hand, once `install-devel.sh` finishes, the final `cgat-flow`environment does not contain the expected versions of neither Python (which goes back to `2.7`) nor R (which goes back to `3.2.2`). More precisely:
[code]

[2019-02-21 15:31] Acribbs commented on #88
Hi @sebastian-luna-valero

Thanks for your help. Im not sure if the code has been tested for scipy >=1.0, but when im back in the office I can test. Can you remember what the issues were?

I really didn't like the idea of unpinning environments in the first place (I think @Charlie-George also agrees with me) because conda does some weird unexpected things when installing very large environments. I

[2019-02-21 15:33] Acribbs commented on #85
I now usually use multiqc stats as my mapping rate.

[2019-02-21 15:34] #81 closed

[2019-02-21 15:35] #46 closed

[2019-02-21 15:52] IanSudbery commented on #85
running multiqc via `cgatflow make build_report` produces the following error:

[code]

[2019-02-21 19:26] sebastian-luna-valero commented on #88
Thanks @Acribbs

I don't remember exactly the issues with `scipy >= 1.0` but that could be one of the reasons why the output in https://travis-ci.org/cgat-developers/cgat-apps does not match the reference results.

I see why unpinning all dependencies in `cgat-core` make sense since we want it to be as stand-alone as possible. However, it might still be appropriate to pin `cgat-apps` and `cgat-flo

[2019-02-21 21:19] AndreasHeger commented on #88
Thanks, @Acribbs and @sebastian-luna-valero . Generally I think we should unpin. I think there are two reasons:

1. As part of CI we want to find out if our latest code works with the latest released version of 3rd party software. The pinning comes later - if all tests pass, you pin all the dependencies so you can deploy exactly the software versions you tested.

2. If you pin everything, your sof

[2019-02-22 09:57] Acribbs commented on #88
Hi @sebastian-luna-valero ,

Looks like scipy is giving problems, maybe we use Andreas suggestion and use `scipy != 1.0`.

@AndreasHeger, you have convinced me that its a good idea to unpin then. However, I am a bit worried about the fact that sebastian found that python and R versions were very old. Should we not at least pin these two packages?

I think the primary reason for the build taking so

[2019-02-24 20:13] sebastian-luna-valero commented on #88
Hi,

I am looking at a potential fix to the installation issue in https://github.com/cgat-developers/cgat-flow/pull/89

Currently the Linux build works but the OS X doesn't. Are we now aiming at supporting OS X builds for cgat-flow as well? That's a real challenge!

Although I am happy to follow @AndreasHeger's approach, I would also like to explain my point of view regarding the pinned vs. unpinn

[2019-02-25 07:29] sebastian-luna-valero commented on #88
Conda solver slowdown FAQ and recommendations:
https://github.com/bioconda/bioconda-recipes/issues/13774

[2019-02-26 14:59] Charlie-George commented on #88
Thanks @sebastian-luna-valero<https://github.com/sebastian-luna-valero>, thats really helpful!

One thing that I'd find really helpful for solving conda issues is being able to access the most recent version of the enviroment that worked correctly and all tests passed, is there an easy way to track this via travis?

________________________________
From: Sebastian Luna-Valero <notifications@github

[2019-02-26 18:42] sebastian-luna-valero commented on #88
That used to be the case:
* There should be a `conda env export` in the install script (e.g. https://github.com/cgat-developers/cgat-flow/blob/master/install-devel.sh#L585)
* Look for a successful build in https://travis-ci.org/cgat-developers/cgat-flow/builds
* Look for the output of the `conda env export` (e.g. https://travis-ci.org/cgat-developers/cgat-flow/jobs/419220433#L671)

Please note tha

[2019-02-26 19:42] Acribbs commented on #88
Thanks @sebastian-luna-valero for sharing the conda issue. Its really helpful and im going to try out their new solver.

We arnt really expecting to support cgat-flow in OSX so I was wondering if tests should be disabled as the flow is only tested on jenkins using linux build anyway.

I see there are lots of talk  of using envronment.yml files and pin packages and thats what I have done for showca

[2019-03-02 12:47] sebastian-luna-valero commented on #88
Hi,

I have managed to get the travis tests passing for cgat-flow on both Linux and OS X:
https://travis-ci.org/cgat-developers/cgat-flow/builds

However, there are a couple of tests failing for cgat-apps:
https://github.com/cgat-developers/cgat-apps/issues/33

I would be grateful if someone could have a look before merging.

Best regards,
Sebastian

[2019-03-03 14:57] Acribbs commented on #88
Hi @sebastian-luna-valero ,

Thanks so much! So changing the priority increased the resolve time. I think im going to pay closer attention to my channel priority in future.

I have had a look over and it looks good, however I remember discussing with andreas about removing xtrace and if I remember rightly he wanted it in. Although I wasn't keen because the output looks rather messy.

BW,
Adam

[2019-03-03 16:07] Acribbs commented on #85
Which mapper were you using? I suspect the outputs of our logs do not match the required input for some of our mappers in MultiQC. I know this is the case for salmon in transdiffexpres and maybe I think for STAR in mapping. I think it is due to the way we redirect the outputs to logs.

[2019-03-04 10:11] IanSudbery commented on #85
We mostly use STAR, Salmon and BWA.

BWA isn't even supported by MultiQC, mostly because i don't think it outputs a log file of any sort.

[2019-03-04 12:55] Acribbs commented on #85
For STAR:
```This MultiQC module parses summary statistics from the Log.final.out log files. Sample names are taken either from the filename prefix (sampleNameLog.final.out) when set with --outFileNamePrefix in STAR```

However, the output of our star mapping produces this.

When I run the pipeline for STAR is generates the appropriate output for both bowtie and STAR (im using our pipeline test da

[2019-03-04 14:06] IanSudbery commented on #85
The particular example here is BWA (which is probably the mapper we use the most - we do most RNAseq with salmon these days).

We used to actually calculate the mapping rate rather than rely on logs.

[2019-03-04 17:13] Acribbs opened #90 "multiple P.run() in one function failing"
@AndreasHeger has there been any changes recently in ruffus or cgat-core that would change how P.run() executes statements?

In bamstats I have this function:
[code]

However, it gives the following error when trying to evaluate the second P.run():

[code]

When I rewrite the function to:

[code]

It now works, is this expected behaviour?

[2019-03-04 17:25] Acribbs commented on #90
Hi @AndreasHeger,

Actually this is also happening to intBam function and seems to be related to a commit 3764dec50196a4702bff5fe445b36188481791bb. Im not entirely sure what is going on, but I will have a further look into this.

[2019-03-05 08:12] Acribbs commented on #90
This was a cgat core issue and has been resolved with this commit ddcf79a5962bdd84c735422ab9dd9aba4f910590

[2019-03-05 08:12] #90 closed

[2019-03-08 09:41] Acribbs opened #91 "testing: TypeError: zip argument #1 must support iteration"
Hi @AndreasHeger ,

While testing the enrichment pipeline im getting the following error while the pipeline completes and collects benchmark data. This only seems to be triggered when running `cgatflow testing make full` and not when I run individual pipelines on their own.

Im not entirely sure why this is only occurring for testing. Any suggestions?

Thanks,
Adam
[code]

[2019-03-08 10:08] Acribbs commented on #91
Could be related to the fact that testing doesn't actually request resources from the cluster because it is run locally?

[2019-03-09 09:53] #88 closed

[2019-03-10 20:43] AndreasHeger commented on #91
Thanks, I will check - is a cgatcore issue.

[2019-03-10 22:14] AndreasHeger commented on #91
Ok, fixed, see here:
https://github.com/cgat-developers/cgat-core/commit/f12080e86a61ea2abbc083855c42f2aea914fe48

Please close if it works for you.

[2019-03-10 22:16] Acribbs commented on #91
Great thanks!

[2019-03-11 11:02] Acribbs commented on #91
brilliant thanks, testing back up and running

[2019-03-11 11:02] #91 closed

[2019-03-12 09:41] Acribbs commented on #44
Please reopen if still an issue

[2019-03-12 09:41] #44 closed

[2019-03-12 09:43] Acribbs commented on #78
What was the consensus on checkBams?

[2019-03-12 09:57] Charlie-George commented on #78
Its on the TODO list to change

[2019-03-12 12:52] Acribbs commented on #8
I have removed the hard coded parameters in pipeline_peakcalling. The PipelineEnrichmentGSEA has been removed all together an no longer implemented.  Have also removed hard coded params from pipeline_exome_cancer, however this pipelines isnt tested so I can only assume this change works.

I have left the references to /ifs refs in the yml files because they serve as examples of how to set the dire

[2019-03-12 12:52] #8 closed

[2019-03-12 12:54] Acribbs commented on #13
R report now works and I have removed the references to hard coded .csvdb so it now picks up pipeline.yml file. The jupyter notebook reports are broken, but @reshu23 is going to update these.

[2019-03-12 12:58] Acribbs commented on #42
I think we should start to remove all references to cgat-report in the production pipelines, considering that they are broken and I dont think any of us has time to fix them. Whats the consensus?

[2019-03-12 13:24] IanSudbery commented on #8
personally i'd rather something failed noisily than did the wrong thing
silently!

On Tue, 12 Mar 2019 at 12:52 Adam Cribbs <notifications@github.com> wrote:

[2019-03-12 13:47] Acribbs commented on #8
ok, over the next few weeks I will slowly work on converting them to ?! and removing /ifs/ paths

[2019-03-12 21:29] AndreasHeger commented on #42
I am happy with this.

[2019-06-06 11:14] stewalsh04 opened #98 "Mapping pipeline does not work with latest version of Bowtie2"
The pipeline crashes when it attempts to align with version 2.3.4.3 of Bowtie2 (latest on conda) using the following command:

bowtie2 --threads 12  -X 2000 -x /ifs/mirror/genomes/bowtie/mm10 -1 <( gunzip < ./trimmed-CT8LP601.fastq.1.gz ) -2 <( gunzip < ./trimmed-CT8LP601.fastq.2.gz )

It no longer seems to accept the input format as 1 <( gunzip < ./trimmed-CT8LP601.fastq.1.gz )

It crashes with t

[2019-06-06 12:34] Acribbs commented on #98
hmm, this is most likely because bowtie2-build now supports gzip-compressed FASTA inputs in version >2.3.3. Therefore the gunzips are unnecessary. I will look into modifying the pipeline to support this in the future

[2019-06-25 15:07] Acribbs commented on #98
Now I have fixed the travis CI tests, Im planning on addressing this next week, are there any other issues pending that I can also address these? I remember @Charlie-George you said there was an issue with one of the pipelines, was it this issue?

[2019-06-25 15:41] Charlie-George commented on #98
I only know what’s described in this issue - that there is a difference in the latest version of bowtie2 that means the current statement does not work with the latest version

On 25 Jun 2019, at 16:07, Adam Cribbs <notifications@github.com<mailto:notifications@github.com>> wrote:

Now I have fixed the travis CI tests, Im planning on addressing this next week, are there any other issues pending th

[2019-06-25 17:15] Acribbs commented on #98
Ok great, if you come across any issues let me know as I will be spending some time next week addressing this and other issues.

[2019-06-26 17:53] Acribbs commented on #98
Have made changes, please could you test the changes please: https://github.com/cgat-developers/cgat-flow/pull/100

In this pull request I have used subprocess to check the version number for bowtie2. If the version number is >= 2.3.3 then the file is parsed without the gunzip. If the version number is less than 2.3.3 then bowtie is ran using the gunziped file

[2019-06-26 20:08] #98 closed

[2019-06-26 20:08] #13 closed

[2019-06-27 13:36] #42 closed

[2019-06-27 14:57] #79 closed

[2019-06-28 07:37] Acribbs opened #102 "Filter HOT regions"
Add the ability to filter ChIP-seq reads in pipelinePeakcalling by HOT regions identified in this paper:  https://academic.oup.com/nar/article/47/11/5735/5494779

[2019-07-01 15:22] IanSudbery opened #103 "GREAT regions"
The docs for `pipeline_genesets` states that it generates GREAT regions, but I can't find any task that actaully does that in the pipeline.

[2019-07-01 16:56] Acribbs commented on #103
Ah I remember having this team discussion, we decided to remove it from the pipeline because the latest genome builds weren't supported.

If you would like to re-implement the function it is in the old annotations pipeline (https://github.com/CGATOxford/CGATPipelines/blob/015dba9ca099c3bf959774498453e8b77ef8e3b5/CGATPipelines/pipeline_annotations.py). I can remove the reference to GREAT in the doc

[2019-07-01 17:43] IanSudbery commented on #103
I'm sure we are fine if we just update the docs. The functionality is still there in gff2gff.

How come the latest genome builds aren't supported, I thought it was just a case of finding the mid-point between genes?

[2019-07-01 17:48] Acribbs commented on #103
I think it was something to do with gene biotypes changing in latest builds but I cant really remember now.

[2019-08-21 15:33] Acribbs commented on #103
closing because I have removed from docs: 92aeb2052f6391684f54997caf927b9c7fb1f586

[2019-08-21 15:33] #103 closed

[2019-10-30 18:58] jscaber opened #109 "rpy2 exception rnaseqqc"
`  File "/***/***/***/cgat-developers-v2/cgat-flow/cgatpipelines/tasks/expression.py", line 69, in <module>
    from rpy2.rinterface import RRuntimeError
ImportError: cannot import name 'RRuntimeError'`

[2019-10-31 07:47] jscaber commented on #109
RRutnime moved from rpy2.rinterface  to rpy2.rinterface_lib.embedded
Answer here: https://stackoverflow.com/questions/47306899/how-do-i-catch-an-rpy2-rinterface-rruntimeerror-in-python

[2019-10-31 08:29] jscaber commented on #109
Hmm. Travis on the cluster runs a different (older) version of rpy2 that still supports the old import command, but not the new one. Have added exception handler, should hopefully work now.

[2019-10-31 08:46] #109 closed

[2019-10-31 10:14] Acribbs commented on #109
Hi jakub, I think we had to pin the rpy2 version for travis testing but I could try when i have time to unpin it and see what the consequences for testing are. Whenever there are problems with this repo, they are usually rpy2 lol

[2019-10-31 11:16] jscaber commented on #109
Hi, it's possible to deal with these using exception handling, so we could try.  This pull has sucessfully fixed this particular issue.

[2019-11-06 16:44] jscaber opened #112 "RNASeqQC: transcript FASTA (ensembl98)"
Hi,

just noticed that this pipeline produces an unusual transcript FASTA with the new annotations (build 98)... The transcript FASTA has grown from 150MB to 4GB, with some transcripts 200K long, with salmon giving a warning during library construction.

[code]

[2019-11-06 18:03] jscaber commented on #112
Also happens with ensembl 88 which used to work. Is this another arparse error?

[2019-11-06 18:08] Acribbs commented on #112
Hmm it could be, although there are tests for gff2fasta that should have failed if this was the case. If you revert the changes back to optparse (cgat-core should support both) and re-run this should answer the question. I can have a look into it when I have some time.

[2019-11-07 08:28] jscaber commented on #112
I have tried to work this out.The error seems to be upstream - the first file created by the rnaseqqc pipeline in the geneset.dir directory is the geneset.gtf and that is already different between Late 2018 and now.

I think this is what might have happened (not 100% sure yet), and definitely nothing to do with recent argument parsing refactoring.

1. What used to happen is that `buildReferenceGen

[2019-11-07 08:37] jscaber commented on #112
As an aside, this problem would not affect the diffexpression pipeline where the user provides the gtf (though maybe it should be made clear in the pipeline that providing a genome gtf is incompatible with the salmon/sailfish).

 I personally have used "geneset_name/ensembl.dir/geneset_coding_exons.gtf.gz", which is 20MB to start with and worked well for the salmon/sailfish index generation.
Just

[2019-11-08 07:33] jscaber opened #113 "Conda Env for indexForSailfish error (libboost)"
The "sailfish" conda environment is also used for the function indexForSailfish. However indexForSailfish requires `libboost=1.60.0`, but on the "sailfish" conda environment it's 1.70.0 so it's throwing an error. Reverting back to the "cgat-flow" environment (`libboost=1.66.0`) appears to work.

[2019-11-08 07:36] sebastian-luna-valero commented on #113
Many thanks, I will take a look asap.

[2019-11-08 07:51] jscaber commented on #113
(it works up to a point - and then fails with an m-alloc error, but that is a problem with our cluster that is happening increasingly frequently)

[2019-11-08 09:09] Acribbs commented on #113
Iv has earlier versions of salmon failing because of bad memory allocation on the cluster before. I think there was memory leaks on the cluster as this didn’t happen when I ran it locally. What’s your rationale sailfish and not salmon?

[2019-11-08 09:41] jscaber commented on #113
No particular reason for sailfish other than it's part of this pipeline, and am trying to get it running again. Salmon works fine. I am just flagging this up, happy to close issue if no appetite in supporting the pipeline as it stands. Obviously no need to run sailfish and could be refactored towards salmon.

[2019-11-08 10:22] Acribbs commented on #113
My preference would be to switch to salmon and remove sailfish. I like the pipeline and would continue to support it, but I dont have many RNA-seq datasets at the moment so I haven't used it for a while. I am happy to debug on my end when I have time (Maybe next week as im at a conference and some sessions dont look as interesting).

[2019-11-09 18:48] sebastian-luna-valero commented on #113
Could you please confirm whether it's worth fixing the issue with sailfish then?

[2019-11-10 07:46] Acribbs commented on #113
I personally think salmon is the way to go because sailfish isn't really supported anymore.

[2019-11-13 09:21] sebastian-luna-valero commented on #113
Sailfish is being installed/used in its own conda environment:

https://github.com/cgat-developers/cgat-flow/blob/master/conda/environments/pipelines-sailfish.yml

Right now we use the latest available version but we could pin sailfish or its dependencies to ensure it works.

Do you want me to investigate further? Or are you finally getting rid of sailfish?

[2019-11-13 09:25] jscaber commented on #113
Getting rid of sailfish. No need to support both, last sailfish release 2016.
Jakub

On 13 Nov 2019, at 09:21, Sebastian Luna-Valero <notifications@github.com<mailto:notifications@github.com>> wrote:

Sailfish is being installed/used in its own conda environment:

https://github.com/cgat-developers/cgat-flow/blob/master/conda/environments/pipelines-sailfish.yml

Right now we use the latest availab

[2019-11-13 09:28] sebastian-luna-valero commented on #113
Thanks for confirming, Jakub.

Please bear in mind that getting rid of existing dependencies will help us reduce the number and complexity of conda environments, which is one of the bottlenecks of the continuous integration testing. If you guys are not comfortable modifying the conda environment, please feel free to ping me and I will happily look into that for you.

Best regards,
Sebastian

[2019-11-13 18:11] jscaber opened #121 "R functionality in cgatflow"
Supersedes previous email - I have created an "issue" instead

I have tried to merge the experiment.R functionality with the existing cgatflow pipeline.
I realised this may be better placed elsewhere, but as this is the most experimental repository that fewest people use, I thought placing the functionality here would be best.

cgatflow.py main now looks for the arguments "cgatflow R" and if these

[2019-12-19 09:43] microbialman opened #124 "Updated samtools doesn't work with hisat2 in mapping pipeline"
Having just done a new CGAT install I ended up with the latest version of samtools (1.10) it has a new way of handling BAM headers that throws an error when I used hisat2 in the mapping pipline (in the step using samtools view to pipe to bam2bam).

I tested using samtools version 1.9 locally and this seems to work still so I guess samtools version might need to be limited? Not sure why the BAM out

[2019-12-20 12:56] Acribbs commented on #124
Thanks for the comment, I can take a look at this over the xmas break

[2019-12-20 12:58] Acribbs commented on #121
Hi @jscaber

Its looking good so far,do you want me to help with anything?

[2019-12-20 12:59] #113 closed

[2020-01-20 21:39] Acribbs opened #127 "install-level script conflicts"
The install-level.sh creates a lot of conflicts when installing into a clean branch using  `--install-pipeline-dependencies`.

[2020-01-21 07:12] sebastian-luna-valero commented on #127
Hi Adam,

Could you please share the output of `conda info` and `cat ~/.condarc`

Best regards,
Sebastian

[2020-09-15 12:52] IanSudbery opened #130 "bamstats counts unaligned reads as intergenic."
In the bamstats pipeline, intergenic reads are counted using:

[code]

The problem with this is that if the `%(tagfile)s` contains unmapped reads, then they will not overlap any context, and will thus be counted as "intergenic". This leads to a situation where "intergenic" can be bigger than "total".

[2020-11-05 19:53] jscaber commented on #121
Hi @Acribbs

not sure if you're still interested in this, but for my own benefit have been rewriting the rnaseqdiffexpression pipeline for a while. The R scripts have been ready for some time, but have started working on the pipeline, getting rid of rpy2 and of the unwieldy counts2table and also experiment.py.

After discussion with both Andreas and David, I have gone for a setup involving direct

[2020-11-05 19:57] Acribbs commented on #121
Very keen!

Will take a look tomorrow. Thanks.

[2020-11-10 12:22] IanSudbery opened #132 "MACS2 is now compatible with python3"
CGATflow installation creates a separate, python2, environment for MACS. But the latest versions of MACS2  are now python3 compatible. Installing the python2 version means that we are both getting an out of date version of MACS and creating extra installation headaches.

[2020-11-11 17:23] sebastian-luna-valero commented on #132
Hi,

I agree. However, before making the change, I see that we install `macs2=2.1.1.20160309`:

https://github.com/cgat-developers/cgat-flow/blob/master/conda/environments/pipelines-macs2.yml#L10

which seems to be available for Python 2.7 only. If we want to install `macs2` for Python 3 it will have to be a later version > `2.2.2`:

https://anaconda.org/bioconda/macs2/files

Is it worth checking

[2020-11-16 22:30] #112 closed

[2020-11-20 15:20] IanSudbery opened #133 "Installation breaks cgat-apps bamtools"
If I create a new environment containing only cgat-apps then the following works fine:

[code]

If I then update the environment to install the cgat-flow dependencies

[code]

this now errors:

[code]

I notice that during installation `cgat-apps` is downgraded from v0.6.0 to v0.5.4 and pysam is upgraded from 0.15.2 to 0.16.0.

Now I update with `cgat-flow-pipelines.yml`.

I notice that pysam is d

[2020-11-20 15:21] IanSudbery commented on #133
However, if I force upgrate `cgat-apps` to 0.6.0 and force downgrade pysam to 0.15.2, it works.

[2020-11-20 15:22] IanSudbery commented on #133
Or it does in some envs.

on other attempts, it seems that pysam 0.9.1 gets isntalled, and its impossible to shift it off that.

[2020-11-26 13:39] IanSudbery opened #134 "installed cutadapt version incompatible with pipeline_readqc"
I've installed several versions of the environments over the last few weeks.

Sometimes it installs cutadapt v3 or v2, which does not have the `--format=fastq` setting and so the pipeline breaks.

But sometimes it install cutadapt v1 that does have it.

I guess given that this is now 2 major version increments out of date, we should remove the `--format` swtich and pin the cutadapt version >=2 ?

[2020-11-30 10:21] IanSudbery commented on #133
This is at least partially because conda is not respecting the pysam pin in `cgat-flow-pipelines.yml`. Or at least, it respects it when you `update` with `cgat-flow-pipelines.yml` but it doesn't stay pinned, because its not being installed as a dependency of something, just as a request in its own right. I suggest we make it a pinned dependency of cgat-apps.

On my last installation attempt, I com

[2021-02-16 10:44] IanSudbery opened #136 "pipeline_genesets assumes that a genome has a miRBase entry"
Which, obviously, not all genomes do. In particular I am working with the yeast genome, and there is no miRBase. I'm also about to start working on the CHO genome, which doesn't have a mirBase either. Both these have Ensembl and UCSC entries, so it seems sensible that the genesets pipeline should run on them.

[2021-03-10 12:15] #121 closed

[2021-08-26 16:46] IanSudbery opened #143 "cgat-flow-pipelines.yml causes installation of cgat-apps 0.6.0"
if you build an environment based on cgat-flow-pipelines.yml, you'll end up with something that has cgat-apps version 0.6.0 installed. If you edit the yml to force cgat-apps 0.6.4, you end up with a conflict and the environment will fail to solve. I am investigating what might be causing this.

[2021-08-27 14:40] IanSudbery opened #144 "Call to fasta2table in RNAseqQC seperates segments with `;`"
In 286b8d179a00343847f79d8256de522d92a587a4, the the `,` seperating the na, dn and length as outputs from fasta2table in characteriseTranscripts were changed to `;`.

https://github.com/cgat-developers/cgat-flow/blob/bc423e431cee5b76f2e8cdc6b8d8a44935b85a75/cgatpipelines/tools/pipeline_rnaseqqc.py#L1222-L1234

This isn't valid bash and leads to a `dn: command not found`. @jscaber do you know why t

[2021-08-31 13:35] IanSudbery opened #145 "rnaseqqc - subsetRange produces invalid fastq files"
The RNAseqQC pipeline task "subsetRange" produces a set of subsets from the highest depth file in a run using mapper.SubsetHeads. This builds a statement by multipling the number of required readsa by 4 and asking for rows less than this:

https://github.com/cgat-developers/cgat-flow/blob/bc423e431cee5b76f2e8cdc6b8d8a44935b85a75/cgatpipelines/tasks/mapping.py#L1314-L1318

 However, awk's NR counts

[2021-09-02 10:14] IanSudbery opened #146 "rnaseqqc - Error setting xlim in plotStrandednessSalmon"
Does anyone know what is going on with these lines here in plotStrandednessSalmon from RNAseqqc.

https://github.com/cgat-developers/cgat-flow/blob/bc423e431cee5b76f2e8cdc6b8d8a44935b85a75/cgatpipelines/tools/pipeline_rnaseqqc.py#L1575-L1577

I can't work it out at all, at least in part I guess because I don't know what the intended output is supposed to look like. HOwever, it raises this error:

[2021-09-02 10:34] jscaber commented on #146
My guess is that a.get_xlim() is not a precise  x coordinate, and something may have changed in matplotlib?
Get_xlim is supposed to create a convenient frame for plotting so it looks good but it is not the maximal value of the table, which is what it seems to be standing in for here?
https://www.geeksforgeeks.org/matplotlib-axes-axes-get_xlim-in-python/

I might be completely wrong though!

Jakub

[2021-09-02 10:44] IanSudbery commented on #146
I thought that at first, but if tab has (say), 12 columns, then `arange(6, 12, 12)` would be a very odd thing to want to do?

[2021-09-02 12:54] KatyBrown commented on #146
Hi Ian, sorry, it probably was me and I have no memory of what I was trying to do - it seems mad.

It's just putting ticks on the x axis, so I think it would be OK to switch that line just for:
[code]
If that doesn't work please let me know!

[2021-09-02 14:15] IanSudbery opened #147 "No rjson package"
rjson appears not to be installed by the environment specification but is used in pipeline_rnaseqqc

conda-forge `r-rjson` package appears to install without conflicts.

Will update envrionment yml

[2021-09-02 16:46] IanSudbery commented on #146
Me thinks this is why it is not that way:
![image](https://user-images.githubusercontent.com/5391758/131884152-1abdb2c3-ffa5-444d-9c25-97f4d26dc87c.png)

I think I'm starting to get my head around what is happening.

[2021-09-14 11:18] KatyBrown commented on #146
Hi @IanSudbery, I just wanted to check if this worked in the end - I can have a look if not. Sorry for the slow and not helpful response - I was off work for ages and now I'm playing catch-up!

[2021-09-14 11:22] IanSudbery commented on #146
It was a bit more complex than that.  Here is what I settled on:

https://github.com/cgat-developers/cgat-flow/blob/b7036f90e5fcddb63c7479a0e5f2e4c4a136a5f6/cgatpipelines/tools/pipeline_rnaseqqc.py#L1586-L1593

Its in PR #148 , I think it should work.

[2021-09-14 11:25] KatyBrown commented on #146
Brilliant - thanks for fixing it and documenting it properly this time!

[2021-09-20 17:00] IanSudbery opened #149 "Alternate pipeline paths and checksums"
Hi Guys,

Don't know if this belongs here or on ruffus, but if I run my pipelines with `-c3` then change the configurations so the pipelne follows a different flow, then it doesn't recognise the change. E.g:

If I run the readqc pipeline with no processors:

[code]

Then I look at the results and decide to add a processor, and rerun, the pipeline still goes for the dummy processRead task, not the

[2021-09-20 17:11] IanSudbery commented on #149
ping @AndreasHeger

[2021-10-01 15:38] AndreasHeger commented on #149
Thanks, @IanSudbery , this is a ruffus issue, but we can track here.
I have not yet looked into the checkpointing system, might be a good time to start.

[2021-11-23 19:47] #147 closed

[2021-11-23 19:49] jscaber commented on #146
I think this now generates a table of appropriate width, but still does not populate it, sorry forgot to mention this during the PR merge.

[2021-11-23 19:50] jscaber commented on #146
![Screen Shot 2021-11-23 at 19 49 45](https://user-images.githubusercontent.com/12160690/143093805-c1117e7c-982d-4c28-9ec1-7d8445cbf11b.png)

[2021-11-23 19:51] #145 closed

[2021-11-23 19:51] #144 closed

[2021-11-24 07:35] jscaber opened #152 "pysam error"
Hi all,

very basic question, sorry:
to make the rnaseqqc pipeline work I had to delete an old cgat (leftover from ) which I found in conda site-packages.
Since then I have the following pysam error

'''File "cgat/BamTools/geneprofile.pyx", line 1, in init cgat.BamTools.geneprofile
    ValueError: pysam.libcalignedsegment.PileupColumn size changed, may indicate binary incompatibility. Expected 88

[2021-11-24 09:32] Acribbs commented on #152
Ah this is because I made changes to cgat for the new versions of pysam. Pysam has gone through a lot of changes and we initially pinned the pysam because it was going to be a big task to modify cgat code. However, you should now use latest pysam version and the error should go away

[2021-11-24 10:34] jscaber commented on #152
It did! Should we unpin pysam in cgatflow?

[2021-11-24 10:44] Acribbs commented on #152
Yeh good idea, see #153.

[2021-11-24 10:44] #152 closed

[2021-11-24 11:17] jscaber commented on #143
a pragmatic approach here would be to remove the general rpy2 pin as well, given that the one rpy2 pipeline that works uses rpy2 >3 (rnaseqqc). For the remaining pipelines like peakcalling etc, it would mean greating rpy2 <3 envs or troubleshooting which they all need anyways because they were written so long ago. @Acribbs, what do you think?

[2021-11-24 14:29] jscaber commented on #143
I've had a look at this @Acribbs :

With rpy2 pinned the following are installed:
cgat-apps                 0.6.4            py37h80fa574_1    bioconda
 pysam                     0.16.0.1         py37h45aed0b_3    bioconda
rpy2                      2.9.4           py37r36hd767a1f_3    conda-forge
and it builds ok.

If I unpin rpy2:
rpy2                      3.4.5           py37r41h6f94858_1    con

[2021-11-24 14:51] Acribbs commented on #143
yeh I think I need to make a new release for cgat-apps. I can work on this now.

[2021-11-24 14:55] jscaber commented on #143
Thanks!
I tried to work on libcalignmentfile cimports there, but when changing it in peakshape.pyx, it failed and I didn’t understand why or the error message – will leave this to you.

From: Adam Cribbs ***@***.***>
Reply to: cgat-developers/cgat-flow ***@***.***>
Date: Wednesday, 24 November 2021 at 14:52
To: cgat-developers/cgat-flow ***@***.***>
Cc: Jakub Scaber ***@***.***>, Mention ***@***.*

[2021-11-25 08:42] Acribbs commented on #143
New version of cgat-apps was just merged to bioconda. Not sure how long it takes for it to be available though

[2021-11-26 00:20] #134 closed

[2021-11-26 00:32] jscaber commented on #143
Availble now and has indeed fixed the issue: Commit 8a9a6a7 now passes on rerunning.

This would fix rnaseqqc which now works after  @IanSudbery refactoring, but will further break windows, intervals (&other?) which are already defective. In the longer term the rpy2 pin will make the conda environment outdated and unresolvable, so my personal vote would be to unpin and move on.

[2021-11-26 00:36] jscaber commented on #133
Related to #143, and may have already been partly addressed by #153.
It may already be possible to close this now that pysam unpinned, but if not, then rpy2 unpin would almost certainly fix this.

[2021-11-26 08:27] Acribbs commented on #143
I would unpin rpy2 and we can remove windows and intervals, dont know if anyone is using them anyway, im certainly not using them.

[2022-02-02 17:42] IanSudbery opened #155 "Missing dependency: mysqlclient"
mysqlclient doesn't seem to be listed in the conda-env ymls, but its required by pipeline genests

[2022-02-04 16:05] sebastian-luna-valero commented on #155
Provided that it might be available on the target host, it's been there as an extra dependency. See:

* https://github.com/cgat-developers/cgat-flow/blob/master/conda/environments/pipelines-extra.yml#L13
* https://github.com/cgat-developers/cgat-flow/blob/master/install.sh#L381

[2022-02-04 16:07] IanSudbery commented on #155
Ah! got it. I always wondered what the "extras" yml was for.

[2022-02-04 16:07] #155 closed

[2022-02-12 21:55] jscaber opened #156 "bwa_mem2"
Is the BWAMEM method in mapping.py still being used or have people moved to BWA-MEM2?
If no one is using the method, I would upgrade it to BWAMEM2 by changing the hardcoded parameters/function call. If it's being used, I might instead add a BWA-MEM2 function.

Jakub

[2022-02-14 00:54] jscaber commented on #60
See 5f63ab32765da464165488e8494ecf65a3c58f4b

[2022-02-14 21:13] jscaber commented on #136
Did you start fixing this Ian? A simple conditional for the miRBase would be the best solution here?

[2022-02-15 12:00] jscaber commented on #130
Hi @IanSudbery ,
came across this which is now relevant for me, because I am looking at changes in contextstats in response to an experiment.

I have noticed this in the past as well, and would be keen to fix this. One way I guess would be to simply subtract the number of unmapped reads (like times bp), though we don't have that number easily to hand in the mapping pipeline if I am right? (#85)

T

[2022-03-23 17:35] IanSudbery opened #157 "buildJunctions in mapping pipeline produces invalid file"
The buildJunctions function in the mapping pipeline builds a bed4 file of junctions:
contig, start, end, strand

to pass to various mappers. It does this by taking a bundle of gffs from a transcript iterator, sorting them into start order, and then walking along, creating intervals from the end of one entry to the start of the next.

https://github.com/cgat-developers/cgat-flow/blob/87fcdbc71be79c

[2022-03-23 17:46] jscaber commented on #157
Thanks Ian!

On a related, but unaffected note:
This reminds me to make a note that the 2 pass STAR method is currently only partly implemented in the mapping pipeline.
The pipeline currently uses the junction file of each individual run, and I have now corrected this for the second run to use a  joint junctions file from all junctions found with the first pass (with some minor filtering of low co

[2022-04-28 07:43] #156 closed